@{
    ViewBag.Title = "{holder}.se";
}
<section>
    <p>
        A quick and simple service for getting pictures of multiple enteties for use as placeholders in your designs or code. Just put your image size (width & height) after our URL and you'll get a placeholder.
    </p>
    <article>
        <h4>boobs</h4>
        Like this: <a href="/600/600">http://holdr.se/600/600</a><br />
        or: <a href="/600/600/2">http://holdr.se/600/600/2</a>
    </article>
    <article>
        <h4>danbo</h4>
        Like this: <a href="/danbo/600/600">http://holdr.se/danbo/600/600</a><br />
        or: <a href="/danbo/600/600/2">http://holdr.se/danbo/600/600/2</a>
    </article>
</section>